* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #050505;
}
.cube{
	position: left;
	width: 300px;
	height: 300px;
	transform-style: preserve-3d;
	transform: rotateX(-30deg);
	animation: animate 4s linear infinite;
}
@keyframes animate {
	0%{
		transform:rotateX(-30deg) rotateY(0deg);
	}
	100%{
		transform:rotateX(-30deg) rotateY(360deg);
	}
}
.cube div{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-style:preserve-3d;
}
.cube div span{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#151515, red);
	transform: rotateY(calc(90deg *var(--i))) translateZ(150px);
}
.top{
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	height: 300px;
	background: #222;
	transform: rotateX(90deg) translateZ(150px);
}
.top::before{
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	height: 300px;
	background: rgba(226, 79, 25, 0.4);
	transform: translateZ(-400px);
	filter: blur(20px);
	box-shadow: 0 0 120px rgba(0, 255, 0, 0.2),
	0 0 200px rgba(226, 79, 25, 0.4),
	0 0 300px rgba(226, 79, 25,0.5),
	0 0 400px rgba(226, 79, 25,0.8),
	0 0 500px rgba(226, 79, 25,1);
}

@-webkit-keyframes RedBlack {  
  0% { background-color: rgb(50, 40, 40); }
  5% { background-color: rgb(70, 40, 40); }
  10% { background-color: rgb(90, 40, 40); }
  20% { background-color: rgb(120, 40, 40); }
  30% { background-color: rgb(140, 40, 40); }
  40% { background-color: rgb(160, 40, 40); }
  50% { background-color: rgb(180, 40, 40); }
  60% { background-color: rgb(160, 40, 40); }
  70% { background-color: rgb(140, 40, 40); }
  80% { background-color: rgb(110, 40, 40); }
  90% { background-color: rgb(80, 40, 40); }
  100% { background-color: rgb(50, 40, 40);; }
}
.cube div{
    height: 300px;
    background-color:rgb(200,40,40);
 
  -webkit-animation-name: RedBlack;
  -webkit-animation-iteration-count: infinite;  
  -webkit-animation-duration: 6s; 
}